body{
    background-color: black;
}


header {
    background-color: white;
    color: black;
    font: verdana, arial;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
}

#barra{
    background-color:blanchedalmond;
    font-size: 20px;
    border-radius: 5px, black;
}

#svia {
    text-align: center;
    background-color:rgb(248, 195, 127);
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 25px;
}

#via2{
    padding-top: 5px;
    padding-bottom: 5px;
 
}

#condomagem{
    padding-top: 5px;
    padding-bottom: 5px
}

#condominos{
    background-color: beige;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    font-size: 25px;
}

#ocorrencias {
    background-color:bisque;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    font-size: 25px;
}

footer{
    text-align: center;
    background-color: black;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 25px;
}